body {
    background: #131315;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.ball {
    animation: float 3.5s ease-in-out infinite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;

    background: radial-gradient( circle at 75% 30%, white 5px,
    #DF00FF 8%, #DB9EDF 60%, #DF00FF 100%);

    box-shadow: inset 0 0 20px #C1AAC6, inset 10px 0 46px #DF00FF,
    inset 88px 0 60px #DB9EDF, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}

.shadow {
    background: #DB9EDF;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}



